.u-section-1 .pictures {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./Images/starwarsmask.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 500px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 132px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    min-height: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 329px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 247px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 156px;
  }
}.u-section-2 {
  min-height: 689px;
}

.u-section-2 .u-image-1 {
  min-height: 349px;
  background-image: url("./Images/FQKR1J1K7RRAY95.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 349px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  margin: 100px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 349px;
  order: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 349px;
  order: 0;
  background-image: url("./Images/Woman-mask-grocery-store.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 567px;
  }

  .u-section-2 .u-image-1 {
    min-height: 281px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 281px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-image-2 {
    min-height: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 433px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 855px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 609px;
  }
}.u-section-3 {
  min-height: 625px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 635px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Images/security-guard-slain-mask-4-ap-rc-200505_hpMain_16x9_1600.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 246px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 635px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 514px;
  }

  .u-section-3 .u-image-1 {
    min-height: 524px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 391px;
  }

  .u-section-3 .u-image-1 {
    min-height: 401px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 541px;
  }

  .u-section-3 .u-image-1 {
    min-height: 451px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 374px;
  }

  .u-section-3 .u-image-1 {
    min-height: 284px;
  }
}.u-section-4 {
  min-height: 875px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0 auto;
}

.u-section-4 .u-image-1 {
  min-height: 590px;
  background-image: url("./Images/girlcoffeemask.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-image-2 {
  min-height: 590px;
  background-image: url("./Images/2NDT25LOPBD2FG6GYJZUQTLBGE.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 295px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-text-3 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0 auto;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 459px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-text-5 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0 auto;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 426px;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 0;
}

.u-section-4 .u-image-3 {
  height: 295px;
  margin: 143px auto 0 -20px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 719px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-1 {
    min-height: 467px;
  }

  .u-section-4 .u-image-2 {
    min-height: 467px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 233px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 233px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 467px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-3 {
    height: 243px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 1865px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 279px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 419px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1245px;
  }

  .u-section-4 .u-image-3 {
    height: 264px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: url("./Images/ffi-working-together.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 450px;
  background-image: none;
  margin: 60px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5 .u-group-1 {
    min-height: 371px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 66px;
    margin-right: 66px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    min-height: 284px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 56px;
    margin-right: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    min-height: 213px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    min-height: 134px;
  }
}.u-section-6 {
  min-height: 638px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 383px;
  background-image: url("./Images/civility.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 255px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 255px;
  order: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-6 .u-text-3 {
  margin: 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-image-2 {
  min-height: 383px;
  order: 0;
  background-image: url("./Images/5628.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 526px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-image-1 {
    min-height: 315px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 210px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
  }

  .u-section-6 .u-text-4 {
    position: relative;
  }

  .u-section-6 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 1167px;
  }

  .u-section-6 .u-image-1 {
    min-height: 483px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 483px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 925px;
  }

  .u-section-6 .u-image-1 {
    min-height: 362px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 362px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 657px;
  }

  .u-section-6 .u-image-1 {
    min-height: 228px;
  }

  .u-section-6 .u-image-2 {
    min-height: 228px;
  }
}.u-section-7 {
  min-height: 625px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 635px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 635px;
  background-image: url("./Images/D3DM2EZ62YUIU7ZP45FVDKS4FU.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 514px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-7 .u-image-1 {
    min-height: 510px;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 391px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 541px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 374px;
  }
}.u-section-8 {
  min-height: 689px;
}

.u-section-8 .u-image-1 {
  min-height: 349px;
  background-image: url("./Images/mask_6ft_highres_resized.0.png");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 349px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-8 .u-text-1 {
  margin: 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 349px;
  order: 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-8 .u-text-3 {
  margin: 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-image-2 {
  min-height: 349px;
  order: 0;
  background-image: url("./Images/gap-face-masks-for-family.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 {
    min-height: 567px;
  }

  .u-section-8 .u-image-1 {
    min-height: 281px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 281px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-8 .u-image-2 {
    min-height: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-8 {
    min-height: 433px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 {
    min-height: 855px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 {
    min-height: 609px;
  }
}.u-section-9 {
  min-height: 625px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-image-1 {
  min-height: 635px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Images/159024422-0.jpeg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 635px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-text-1 {
  margin: 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 {
    min-height: 514px;
  }

  .u-section-9 .u-image-1 {
    min-height: 524px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-9 {
    min-height: 391px;
  }

  .u-section-9 .u-image-1 {
    min-height: 401px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 {
    min-height: 541px;
  }

  .u-section-9 .u-image-1 {
    min-height: 451px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 {
    min-height: 374px;
  }

  .u-section-9 .u-image-1 {
    min-height: 284px;
  }
}.u-section-10 {
  min-height: 946px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.u-section-10 .u-image-1 {
  min-height: 638px;
  background-image: url("./Images/alabama-chanin-reusable-non-medical-face-mask.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 319px;
}

.u-section-10 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 319px;
}

.u-section-10 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-10 .u-text-3 {
  margin: 0;
}

.u-section-10 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-10 .u-image-2 {
  min-height: 638px;
  background-image: url("./Images/goodneighbormask.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-4 {
  padding: 20px;
}

.u-section-10 .u-image-3 {
  min-height: 638px;
  background-image: url("./Images/920D8D97-319B-48CE-A791-BB70109A2B5D.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-5 {
  padding: 20px;
}

.u-section-10 .u-layout-cell-6 {
  min-height: 319px;
}

.u-section-10 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-10 .u-text-5 {
  margin: 0;
}

.u-section-10 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-10 .u-layout-cell-7 {
  min-height: 319px;
}

.u-section-10 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-10 .u-text-7 {
  margin: 0;
}

.u-section-10 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-10 .u-image-4 {
  min-height: 638px;
  background-image: url("./Images/mCD1Yk1jmsFT55G5QPWgAA.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-8 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 778px;
  }

  .u-section-10 .u-image-1 {
    min-height: 470px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 235px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 235px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-10 .u-image-2 {
    min-height: 470px;
  }

  .u-section-10 .u-image-3 {
    min-height: 470px;
  }

  .u-section-10 .u-layout-cell-6 {
    min-height: 235px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-10 .u-layout-cell-7 {
    min-height: 235px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-10 .u-image-4 {
    min-height: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 1801px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 {
    min-height: 3916px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 {
    min-height: 2572px;
  }
}.u-section-11 {
  min-height: 875px;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-11 .u-image-1 {
  min-height: 590px;
  background-image: url("./Images/159024422-01.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px;
}

.u-section-11 .u-image-2 {
  min-height: 590px;
  background-image: url("./Images/21.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px;
}

.u-section-11 .u-layout-cell-4 {
  min-height: 295px;
}

.u-section-11 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-11 .u-text-3 {
  margin: 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-11 .u-layout-cell-5 {
  min-height: 295px;
}

.u-section-11 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-11 .u-text-5 {
  margin: 0;
}

.u-section-11 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-11 .u-image-3 {
  min-height: 590px;
  background-image: url("./Images/6610859_1200x.jpeg");
  background-position: 50% 50%;
}


.u-section-11 .u-container-layout-6 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 {
    min-height: 719px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-11 .u-image-1 {
    min-height: 467px;
  }

  .u-section-11 .u-image-2 {
    min-height: 467px;
  }

  .u-section-11 .u-layout-cell-4 {
    min-height: 233px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-11 .u-layout-cell-5 {
    min-height: 233px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-11 .u-image-3 {
    min-height: 467px;
  }
}

@media (max-width: 991px) {
  .u-section-11 {
    min-height: 1865px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 {
    min-height: 1245px;
  }
}.u-section-12 {
  min-height: 625px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-image-1 {
  min-height: 635px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./Images/usa_today_14173550.0.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-12 .u-text-1 {
  margin: 345px -10px 0 10px;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 635px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px;
}

.u-section-12 .u-text-2 {
  margin: 0;
}

.u-section-12 .u-text-3 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 {
    min-height: 514px;
  }

  .u-section-12 .u-image-1 {
    min-height: 524px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-12 {
    min-height: 391px;
  }

  .u-section-12 .u-image-1 {
    min-height: 401px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 {
    min-height: 541px;
  }

  .u-section-12 .u-image-1 {
    min-height: 451px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-12 {
    min-height: 374px;
  }

  .u-section-12 .u-image-1 {
    min-height: 284px;
  }
}